/* initial location and size of each window */
#cctv       { top: 100px; left: 100px; height: 200px; width: 300px; }
#oldtv      { top:  10px; left: 150px; height: 400px; width: 600px; }
#earthnull  { top: 400px; left: 500px; height: 430px; width: 600px; }
#deathclock { top:   0px; left: 600px; height: 100px; width: 200px; }
#hauraki    { top:  60px; left: 400px; height: 330px; width: 560px; } 
#console    { top: 430px; left:  10px; height: 330px; width: 560px; } 

/* style the background of the main screen */
body{        
  font-family:VT323,Courier;
  color:greenyellow;
  background-color: black;
  user-select: none;
  font-size: 22px;
}
canvas {display:block;}
iframe {
  padding:-2px;
  border: none;
}

.desktop {
  background-image: url('anonymous-static.gif');  
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: top;  
}

/* style the movable windows */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.right{
  position:absolute;
  right:2px;
}


.window {
  position: fixed;
  margin: 0;
  border-style: solid;
  border-radius: 6px;
  border-color: green;
  background-color: black;
  padding: 2px;   
}
.window > .handle {
  margin: -2px -2px 2 -2px;
  padding:4px;
  background-color: green;
  color: black;
  cursor: move;
}
.handle::after {  
  content:'';    
  position:absolute;
  right:2px;
}

.window > .content {
  white-space:pre-line;
  user-select: none;
  pointer-events: none;
}