/* initial location and size of each window */
#cctv       { top: 10vw; left: 10vw; height: 40vw; width: 60vw; }
#finder      { top:  10vw; left: 10vw; height: 33vw; width: 80vw; }
#earthnull  { top: 50vw; left: 20vw; height: 43vw; width: 60vw; }
#deathclock { top:  10vw; left: 35vw; height: 20vw; width: 30vw; }
#hauraki    { top:  35vw; left: 20vw; height: 40vw; width: 60vw; } 
#console    { top: 10vw; left:  1vw; height: 75vw; width: 30vw; } 

/* style the background of the main screen */
body{        
  font-family:VT323,Courier;
  color:greenyellow;
  background-color: black;
  user-select: none;
  font-size: 3vw;
}

canvas {
  display:block;
  z-index:0;
  overflow: hidden;
}

iframe {
  padding: 0;
  border: none;
}

/* Add a black background color to the top navigation */
.topnav {
  float: left;
  display: block;
  top:0;
  left:0;  
  width:96vw;
  z-index: 1;
  position: fixed;
  margin: 1vw;  
  border-style: solid;
  border-radius: 2vw;
  border-color:  rgba(0,128,0,0.9);
  padding: 0vw;
  background-color: rgba(0,0,0,0.5);  
}

/* Style the links inside the navigation bar */
.topnav button {  
  float: left;
  font-family:VT323;
  color: black;
  margin: 1vw;
  padding: 1vw;
  font-size: 3vw; 
  text-align:center;
  border-style: solid;
  border-radius: 1vw;
  border-color:  rgba(0,128,0,0.9);  
  background-color: rgba(0,128,0,0.9);  
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: black;
  color: green;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: black;
}

.right{
  position:absolute;
  right:1vw;
}

.left{
  position:absolute;
  left:1vw;
}
.center {
  text-align: center;
}

.window {
  z-index: 1;
  position: fixed;
  margin: 0;
  border-style: solid;
  border-radius: 2vw;
  border-color:  rgba(0,128,0,0.9);
  padding: 1vw;
  background-color: rgba(0,0,0,0.5);
}
.window > .handle {  
  margin: 0;
  padding: 2vw;
  font-size: 4vw; 
  text-align:center;
  border-style: solid;
  border-radius: 1vw;
  border-color:  rgba(0,128,0,0.9);  
  background-color: rgba(0,128,0,0.9);
  color: black;
  cursor: move;
}

.window > .content {
  width: 100%;
  height:auto;
  white-space:pre-line;
  user-select: none;
  pointer-events: none;  
}

.app {
  z-index: 1;
  position: fixed;
  margin: 0;
  border-style: solid;
  border-radius: 2vw;
  border-color:  rgba(0,128,0,0.9);
  padding: 1vw;
  background-color: rgba(0,0,0,0.5);
}
.app > h1 {  
  margin: 0;
  padding: 2vw;
  font-size: 3vw; 
  text-align:center;
  border-style: solid;
  border-radius: 1vw;
  border-color:  rgba(0,128,0,0.9);  
  background-color: rgba(0,128,0,0.9);
  color: black;
  cursor: move;
}

.app > p {
  width: 100%;
  height:auto;
  white-space:pre-line;
  user-select: none;
  pointer-events: none;  
}

.clock {
  text-align: center;
  color: red;
  font-size: 4vw;
}

.connecting {
  background-image: url('connecting.gif');  
  background-size: 20vw 15vw;
}

.hide {
  display:none;
}

#earthnull-video {
  flex-grow: 1; border: none; margin: 0; padding: 0;
}
